# ==================================================
# Python
# ==================================================
__pycache__/
*.py[cod]

# ==================================================
# Virtual Environments
# ==================================================
venv/
env/
.venv/

# ==================================================
# Django
# ==================================================
media/
staticfiles/

# ==================================================
# IDEs
# ==================================================
.vscode/
.idea/

# ==================================================
# Logs
# ==================================================
*.log

# ==================================================
# Environment Variables
# ==================================================
.env

# ==================================================
# macOS
# ==================================================
.DS_Store

# ==================================================
# Machine Learning Files
# ==================================================
monitoring/ml/dataset/
*.csv
*.pcap